@import "src/@fuse/scss/fuse";


#password-settings {
  margin-top: 5px;
    &.modern {
        padding: 0;

        .profile-container {
            padding: 0;

          .img-avatar-prof{
            width: 250px !important; 
          }
        }
    }
    .form-structure{
      margin-left: 50px;
    }
    .side-structure{
      margin-left: 50px !important;
    }
    
    .side-structure2{
      margin-right: 50px !important;
    }


}