<div id="password-settings" class="modern page-layout blank " fxLayoutAlign="center center" fxLayout="row">

    <div class="profile-container">
        <h1>Change Password</h1>

        <div class="card" fxLayout="row" fxLayoutAlign="center center">

            <div class="card">

                <div class="form-structure">
                    <form name="registerForm" (ngSubmit)="saveAccount(null)" [formGroup]="registerForm" novalidate fxHide fxShow.gt-sm>

                        <div class="inner-form" fxLayout="row" fxLayoutAlign="space-between start">

                            <div fxLayout="column">
                                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                                    <mat-form-field fxFlex>
                                        <input type="password"  name="curPassword" formControlName="curPassword" placeholder="Current Password" matInput required>
                                    </mat-form-field>
                                </div>

                                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                                    <mat-form-field fxFlex>
                                        <input type="password" name="newPassword" formControlName="newPassword" placeholder="New Password" matInput
                                            required>
                                    </mat-form-field>

                                    &nbsp; &nbsp;

                                    <mat-form-field fxFlex>
                                            <input type="password"  name="passwordConfirm" formControlName="passwordConfirm" matInput placeholder="Confirm new password" required>  
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="column" class="side-structure">

                                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                                   
                                </div>
                            </div>
                        </div>

                        <button mat-flat-button color="accent">
                            <mat-icon>save</mat-icon> Save Password
                        </button>

                    </form>                 
                </div>
           
                

            </div>

        </div>

    </div>

</div>