.completer-dialog {
  max-width: 1000px;
  width: 1000px;
  .example-card-completer {
      max-width: 1000px;
      text-align: center;
      img{
        height: 150px !important;
        width: 124px !important;
      }
  }
}