

@import "src/@fuse/scss/fuse";

app-withdrawal {
  width: 100%;

  .mat-table {
    width: 100%;
    height: 660px;
    .mat-column-user {
     /*    flex: 0 2 104px; */
        justify-content: center;
    }
    .mat-column-block {
        flex: 0 2 204px;
        justify-content: center;
    }

    .mat-sort-header-button,
    .mat-header-cell {
        // font-weight: bolder;
        font-size: 14px;
        color: rgb(70, 70, 70);
    }
    .mat-row {
        position: relative;
        cursor: pointer;
        padding: 0;
      
        .mat-cell {
            min-width: 0;
            margin-top: 0;
            &.mat-column-detail-button {
                flex: 0 1 auto;
                padding: 0 24px 0 0;
                @include media-breakpoint('gt-md') {
                    display: none;
                }
            }
        }
    }
}
  #superior-coin-tab {
    width: 100%;
  }
  .widget{
    width: 100% !important;
  }
}
.withdrawal {
    .mat-header-cell, 
    .mat-column-address, 
    .mat-column-tx_id,
    .mat-column-memo, 
    .mat-column-withdrawal_date {
        padding: 15px 0; 
    }
    .mat-column-amount, .mat-column-status {
        flex: 0 1 120px;
    }
    .mat-column-address {
        margin-right: 15px; 
    }
    .mat-row {
        .mat-cell {
            min-width: 0;
            margin-top: 0;
        }
    }
    .mat-column-withdrawal_date {
        flex: 0 1 150px;
        padding: 15px 0;
    }
    .mat-column-memo {
        flex: 0 1 100px;
    }
    .mat-column-tx_id {
        flex: 0 1 160px;
    }
    .filter {
        display: flex;
        @include media-breakpoint('lt-sm') {
            display: block;
        }
        .search-input-wrapper {
            margin-left: auto;
            margin-right: 28px;
            display: flex;
            align-items: center;
            @include media-breakpoint('lt-sm') {
                margin-right: 0; 
            }
            .mat-form-field {
                @include media-breakpoint('lt-sm') {
                    width: 100%;
                }
            }
        }
        .calendar {
            .mat-form-field {
                @include media-breakpoint('lt-sm') {
                    width: 100%;
                }
            }
        }
    }
    .mat-column-status {
        .chip {
            border-radius: 20px;
            border: 1px solid;
            padding: 5px 10px;
            display: inline-block;
        }
        .completed {
            color: #4caf50;
        }
    }
}