.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  .poll-content {
      padding : 10px;
      min-width: 300px
  }
  .haserror {
      p {
        font-size: 12px;
        padding: 10px;
        color: red;
      }
    
  }