@import "src/@fuse/scss/fuse";
app-update-task {
    width: 100%;
    .create-task {
        width: 100%;
        .create-taskForm {
            width: 100%;
          
        }
        .width-100 {
            width: 350px !important;
        }
        .icons-checkbox-infos{
          position: relative;
          top: 6px;
        }
        .example-option-img{
          position: relative !important;
          bottom: 25px !important;
        }
        .submit-button{
          margin: 20px;
        }
        .taskcharge{
          float: right;
          color: #ff0000;
      
        }
      }
}