<div class="classic-tab p-24">

    <div class="result-info" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column"
         fxLayoutAlign.xs="start start">

        <span class="result-count h3 secondary-text">
            <span>54</span>
            <span class="ml-4">Results</span>
        </span>

       
    </div>

    <div class="results">
        <div class="result-item">
            <div class="title blue-fg">Sample</div>
            <div class="url green-fg">http</div>
            <div class="excerpt">description</div>
        </div>
    </div>

  <div class="pager" fxLayout="row" fxLayoutAlign="start center">
            <span class="mr-4 secondary-text">Results:</span>

            <span class="page-info">
                <span>1</span>
                <span class="mx-4">-</span>
                <span>10</span>
                <span class="mx-4">of</span>
                <span>54</span>
            </span>

            <button mat-icon-button aria-label="Previous page">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <button mat-icon-button aria-label="Next page">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>

</div>