.confirm-dialog {
    .example-card-logout-confirm {
        max-width: 900px;
        text-align: center;
        img{
          height: 150px !important;
          width: 124px !important;
        }
        .well{
            text-align: justify;
        }
    }
}