<div class="example-container">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults || isRateLimitReached">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoadingResults"></mat-progress-bar>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        Please try to reload!
      </div>
    </div>
  
    <div class="example-table-container">

        <mat-table class="example-table" #table 
                                    [dataSource]="data" matSort 
                                    matSortActive="created"
                                    matSortDisableClear matSortDirection="asc"
                                    [@animateStagger]="{value:'50'}"
                                    fusePerfectScrollbar>

        <ng-container matColumnDef="reward" >
            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Rewards</mat-header-cell>
            <mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>
               <p class="phone text-truncate">
                    <img class="avatar w-24 h-24"  [alt]="SAMPLE" [src]="'assets/images/logos/rewardLogo.png'" />
                </p>
                <b class="text-truncate font-weight-600 reward-label">{{ row.reward  | prettify : 'pretty'}}</b>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="avatar">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm></mat-header-cell>
            <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>
                <img [src]="avatarImagePath(row.user_id)" onError="this.src='assets/images/avatars/profile.jpg'" class="avatar w-28 h-28 m-0" alt="{{row.name}}" />
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a [routerLink]="[ '/others/profile', row.username ]">
                    <strong>{{ row.name }}</strong>
                </a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="uname">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Username</mat-header-cell>
            <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>
                <a [routerLink]="[ '/others/profile', row.username ]">
                    <strong>{{ row.username }}</strong>
                </a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="registered_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Registered Date</mat-header-cell>
            <mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>
                {{ row.registered_date | date  }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Status</mat-header-cell>
            <mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>
                <div class="chip {{ row.status }}">
                    {{ row.status  }}
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="option">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.lt-sm>Option</mat-header-cell>
            <mat-cell *matCellDef="let row" fxHide fxShow.lt-sm>
                <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openDialog(row)">
                        <mat-icon>details</mat-icon>
                        Details
                    </button>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="contact" 
            matRipple [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>

  
    </div>
  
    <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
  </div>