.deactivate-dialog {
    img {
        width: 160px;
    }
    .mat-display-2 {
        margin: 10px 0 0;
    }
    .btn-holder {
        display: flex;
        .mat-warn {
            margin-left: auto; 
        }
    }
}