<div class="page-layout blank p-24" fusePerfectScrollbar>
  <mat-card class="content">

    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-progress-bar mode="indeterminate" *ngIf="isLoadingResults"></mat-progress-bar>
        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
            Ative Task Kryptonia's API rate limit has been reached. It will be reset in one minute.
        </div>
    </div>

    <mat-table [dataSource]="taskDetails" matSort matSortActive="created" matSortDisableClear matSortDirection="asc"
          [@animateStagger]="{value:'50'}">


      <!-- name Column -->
      <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="title pl-0 pr-8">Title</mat-header-cell>
          <mat-cell *matCellDef="let row" class="pl-0 pr-8">
              <a [routerLink]="[ '/task/taskdetails', row.slug ]">{{row.title}}</a>
          </mat-cell>
      </ng-container>

      <!-- date Column -->
      <ng-container matColumnDef="reward">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="title p-0">Reward</mat-header-cell>
          <mat-cell *matCellDef="let row" class="p-0">
            <div class="reward">
              <img src="assets/images/logos/rewardLogo.png" alt="superiorcoin" class="avatar w-24 h-24">
              <span>{{ row.reward }} SUP</span>
            </div>
          </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="contact" [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="10"></mat-paginator>

  </mat-card>
</div>
