@import "src/@fuse/scss/fuse";

$default-complete-color: #4caf50;
$default-anchor-color: #4267b2;
app-bank-revoke-reward {
    width: 100%;

    .mat-table {
        // mat-row:nth-child(even) {
        //     background-color: white;
        // }

        // mat-row:nth-child(odd) {
        //     background-color: rgb(243, 243, 243);
        
        // }

        width: 100%;
        height: auto;
        min-height: 550px;

        .mat-column-status {
            flex: 0 1 95px;
            justify-content: center;
            .chip {
                border: 1px solid;
                padding: 5px 10px;
                border-radius: 20px;
            }
            .Complete {
                color: $default-complete-color;
            }
        }

        .mat-column-fee {
            flex: 0 1 75px;
            justify-content: center;
        }

        .mat-column-options {
            flex: 0 1 95px;
            justify-content: center;
        }

        .mat-column-txn_date {
            flex: 0 1 100px;
            justify-content: center;
        }

        .mat-column-description {
            flex: 0 1 100px;
            justify-content: center;
        }

        .mat-column-status {
            flex: 0 1 110px;
            justify-content: center;
        }
        .mat-column-tx_id {
            .small-name{
                color:rgb(29, 77, 165);
            }
        }

        .mat-column-creator {
            flex: 0 1 150px;
        }

        .mat-column-avatar {
            flex: 0 1 55px;
            margin-left: 15px;
        }

        .mat-column-option {
            flex: 0 1 100px;
            justify-content: center;
        }
        
        .mat-column-category {
            i {
                display: block;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .fb {
                background-image: url(/assets/socials/fb.svg);
            }
            .twitter {
                background-image: url(/assets/socials/twitter-color.svg);
            }
            .g-plus {
                background-image: url(/assets/socials/google-plus-color.svg);
            }
            .instagram {
                background-image: url(/assets/socials/instagram.svg);
            }
            .linkedin {
                background-image: url(/assets/socials/linkedin-color.svg);
            }
            .kblog {
                background-image: url(/assets/socials/kblog.svg);
            }
            .youtube {
                background-image: url(/assets/socials/youtube.svg);
            }
            .steemit {
                background-image: url(/assets/socials/steemit.svg);
            }
        }

        .mat-sort-header-button,
        .mat-header-cell {
            font-weight: bolder;
            font-size: 16px;
            color: rgb(70, 70, 70);
        }

        .mat-row {
            position: relative;
            cursor: pointer;
            padding: 0;

            .mat-cell {
                min-width: 0;
                margin-top: 0px;

                &.mat-column-detail-button {
                    flex: 0 1 auto;
                    padding: 0 24px 0 0;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
        .mat-column-revoked_date {
            flex: 0 1 140px;
            @include media-breakpoint('xs') {
                flex: 0 1 120px;
            }
        }
        .mat-column-type {
            flex: 0 1 110px;
        }
        .mat-column-reward {
            flex: 0 1 100px;
        }
        .mat-column-completer {
            flex: 0 1 160px;
            margin-right: 15px; 
        }
        .mat-column-task_title {
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                @include media-breakpoint('xs') {
                    padding: 10px 0;
                    width: 100%;
                    display: block;
                }
                .m-view {
                    display: flex;
                    align-items: center;
                    &>span {
                        display: flex;
                        align-items: center;
                    }
                }
            }
            a {
                color: $default-anchor-color;
            }
            a:not(.mat-button):not(.mat-raised-button):not(.mat-icon-button):hover {
                text-decoration: none;
            }

        }
        .mat-column-reward {
            .reward-label {
                font-size: 18px;
                margin-left: 10px; 
            }
        }

        .mat-header-row {
            border-top-color: rgba(0, 0, 0, 0.12);
            border-top-width: 1px;
        }
    }

    #superior-coin-tab {
        width: 100%;
    }

    .widget {
        width: 100% !important;
    }
    .mat-paginator
    .mat-paginator-page-size {
        @include media-breakpoint('xs') {
            display: none;
        }
        
    }
}