<div class="content-holder">
  <div class="close" (click)="dialogRef.close()"><mat-icon>close</mat-icon></div>
  <div class="mat-headline">HOW TO EARN?</div>
  <div class="mat-title">REWARDS</div>
  <ol>
    <li>For every successful signup you referred, you will get 25 SUP</li>
    <li>If your referral connects a social media account (atleast one), you will get 75 SUP</li>
  </ol>
  <div class="mat-title">TASK POINTS</div>
  <ol>
    <li>If your referral completes any task, and is not revoked, you will get <span>1% from the value of the task reward</span>.</li>
    <li>If your 2nd level referral completes any task, you will get <span>half of 1% from the value of the task reward</span>.</li>
    <li>If your 3rd level referral completes any task, you will get a <span>quarter of 1% from the value of the task reward</span>.</li>
    <li>All Earned Task points will be <span>capped at max 10 SUP reward</span>.</li>
  </ol>
</div>
