.content-holder {
    font-size: 16px; 
    position: relative;
    .close {
        position: absolute;
        top: 0;
        right: 0;
    }
    .mat-subheading-2 {
        a {
            display: block;
            padding-right: 30px;
            line-height: normal;
            margin-bottom: 10px;
        }
    }
    a {
        color: #4267b2;
    }
    .reward {
        display: flex;
    }
    .display-flex {
       

        img{
            width: 133px;
            height: 56px;
        }
    }
    .status {
        text-transform: capitalize;
        .complete {
            color: #4caf50;
        } 
    }
    .chip {
        border: 1px solid;
        padding: 5px 10px;
        border-radius: 20px;
        display: inline-block;
        color: #4caf50;
    }
    .success, .received {
        color: #4caf50;
    }
    .failed, .cancelled, .void {
        color: #f44336;
    }
    .pending, .processing {
        color: #ff9800;
    }
}