<div id="forgot-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <a [routerLink]="[ '/' ]">
                <img src="assets/svg/kryptonia-white.svg">
            </a>
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            <h1>Where Jobs, Skills & <br>
                Internet Marketers Connect
            </h1>
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            <p>80% of our Customers are Internet Marketers that spend less than ONE DOLLAR per task!</p>
            <p>Kryptonia will help your business triple its sales solely from online traffic and it provides you with the opportunity to grow relationships with your target audience.</p>

        </div>

        <div class="image-holder">
            <div class="cloud"></div>
            <div class="plane"></div>
            <div class="car"></div>
            <img src="/assets/images/login/everything-else.svg?" title="Kryptonia Globe">
        </div>
    </div>

    <div id="forgot-password-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/svg/k.svg" alt="logo">
            </div>

            <div class="title">RECOVER YOUR PASSWORD</div>

            <form name="forgoPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email" [(ngModel)]="email">
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid" (click)="sendRestLink()">
                    SEND RESET LINK
                </button>

            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/auth/login'">Go back to login</a>
            </div>

        </div>
    </div>
</div>