.follow-user-dialog {
    .example-card-logout-confirm {
        max-width: 400px;
        text-align: center;

        img {
            height: 150px !important;
            width: 124px !important;
        }
        .follow-users{
          font-size: 55px !important;
        }
    }
}