// @import "src/@fuse/scss/fuse";

// $default-anchor-color: #4267b2;

// app-blog-payout {
//     width: 100%;

 

//    
// }

@import "src/@fuse/scss/fuse";

$default-anchor-color: #4267b2;

app-blog-payout {
  
    fuse-widget.widget {
        width: 100% !important;
        max-width: 100% !important;
    }

    div#blog-payout {
        width: 100% !important;
        display: block !important;

        .mat-table {

            width: 100%;
            height: auto;
            min-height: 550px;
    
            .mat-column-status {
                flex: 0 2 95px;
                justify-content: center;
            }
    
            .mat-column-fee {
                flex: 0 2 75px;
                justify-content: center;
            }
    
            .mat-column-options {
                flex: 0 2 95px;
                justify-content: center;
            }
    
            .mat-column-txn_date {
                flex: 0 2 100px;
                justify-content: center;
            }
    
            .mat-column-description {
                flex: 0 2 100px;
                justify-content: center;
            }
    
            .mat-column-status {
                flex: 0 2 95px;
                justify-content: center;
            }
            .mat-column-tx_id {
                .small-name{
                    color:rgb(29, 77, 165);
                }
            }
            .mat-column-blog_title {
                @include media-breakpoint('lt-md') {
                    padding-left: 15px; 
                }
            }

            .mat-column-claimed_date {
                @include media-breakpoint('lt-md') {
                    flex: 0 1 150px;
                }
            }

            .mat-column-option {
                flex: 0 1 100px;
                justify-content: center;
            }

            
            a, a:not(.mat-button):not(.mat-raised-button):not(.mat-icon-button):hover {
                color: #4267b2;
                text-decoration: none;
            }
    
            .mat-sort-header-button,
            .mat-header-cell {
                font-weight: bolder;
                font-size: 16px;
                color: rgb(70, 70, 70);
            }
    
            mat-cell:last-child, mat-footer-cell:last-child, mat-header-cell:last-child {
                padding-right: 0; 
            }
    
            .mat-row {
                position: relative;
                cursor: pointer;
                padding: 0;
    
                .mat-cell {
                    min-width: 0;
                    // margin-top: -10px;
    
                    &.mat-column-detail-button {
                        flex: 0 1 auto;
                        padding: 0 24px 0 0;
    
                        @include media-breakpoint('gt-md') {
                            display: none;
                        }
                    }
                }
            }
            .mat-header-row {
                border-top-color: rgba(0, 0, 0, 0.12);
                border-top-width: 1px;
            }
    
        }
        #superior-coin-tab {
                    width: 100%;
        }
            
        .widget {
            width: 100% !important;
        }
    }

  
}