<div class="timeline-unique-list p-24" fusePerfectScrollbar>
    <mat-progress-bar mode="buffer" *ngIf="loadingTimeline"></mat-progress-bar>

    <div class="container" >
        <div id="timeline" *ngIf="timeLineData">
            <div class="timeline-item" *ngFor="let timelines of timeLineData; let i = index">
                <div class="timeline-icon">
                    <img width="100%" height="100%" src="assets/svg/Blue_circle_logo.svg">
                </div>
                <div class="timeline-content right" >
                    <h2>{{timelines.dd }}</h2>
                    <div class="subtimeline-data p-8" *ngFor="let subData of timelines.data; let ii = index" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        <div class="user-info" [ngSwitch]="subData.type">
                            <div *ngSwitchCase="'follow'" class="follow">
                                <span>
                                    <img class="profile-image avatar small" [src]="'assets/svg/timeline-icons/follow.svg'" onError="this.src='assets/images/avatars/profile.jpg'">
                                </span> 
                                <a [routerLink]="['/others/profile/'+subData.username+'/']" title="{{subData.username}}">{{subData.username}}</a>
                                followed You
                                <span class="time">{{subData.timeago}}</span>
                            </div>
                            <div *ngSwitchCase="'unfollow'" class="unfollow">
                                <span>
                                    <img class="profile-image avatar small" [src]="'assets/svg/timeline-icons/unfollow.svg'" onError="this.src='assets/images/avatars/profile.jpg'">
                                </span>
                                <a [routerLink]="['/others/profile/'+subData.username+'/']" title="{{subData.username}}">{{subData.username}}</a>
                                unfollowed You
                                <span class="time">{{subData.timeago}}</span>
                            </div>
                            <div *ngSwitchCase="'revoke'" class="revoke">
                                <span>
                                    <img class="profile-image avatar small" [src]="'assets/svg/timeline-icons/revoke.svg'" onError="this.src='assets/images/avatars/profile.jpg'">
                                </span>
                                <a [routerLink]="['/others/profile/'+subData.username+'/']" title="name">{{subData.username}}</a>
                                was revoked from your task
                                <span class="title"><a routerLink="/task/taskdetails/{{subData.slug}}" title="{{subData.title}}">{{subData.title}}</a></span>
                            </div>
                            <div *ngSwitchCase="'completed'" class="completed">
                                <span>
                                    <img class="profile-image avatar small" [src]="'assets/svg/timeline-icons/checked.svg'" onError="this.src='assets/images/avatars/profile.jpg'">
                                </span>
                                <a [routerLink]="['/others/profile/'+subData.username+'/']" title="{{subData.username}}">{{subData.username}}</a>
                                completed your task
                                <span class="title"><a routerLink="/task/taskdetails/{{subData.slug}}" title="{{subData.title}}">{{subData.title}}</a></span>
                                <span class="time">{{subData.timeago}}</span>
                            </div>
        
                            <div *ngSwitchCase="'gift-coin'" class="gift-coin">
                                <span>
                                    <img class="profile-image avatar small" [src]="'assets/svg/timeline-icons/GIFT.svg'" onError="this.src='assets/images/avatars/profile.jpg'">
                                </span>
                                <a [routerLink]="['/others/profile/'+subData.username+'/']" title="{{subData.username}}">{{subData.username}}</a>
                                gifted&nbsp;<a [routerLink]="['/others/profile/'+subData.receiver_username+'/']" title="{{subData.receiver_username}}">{{subData.receiver_username }} </a>&nbsp;{{subData.coin}} SUP
                                <span class="time">{{subData.timeago}}</span>
                            </div> 
                            <div *ngSwitchCase="'gift-coin-sender'" class="gift-coin-sender">
                                <span>
                                    <img class="profile-image avatar small" [src]="'assets/svg/timeline-icons/GIFT.svg'" onError="this.src='assets/images/avatars/profile.jpg'">
                                </span>
                                <a [routerLink]="['/others/profile/'+subData.sender_username+'/']" title="{{subData.sender_username}}">{{subData.sender_username}}</a>
                                gifted &nbsp;<a [routerLink]="['/others/profile/'+subData.username+'/']" title="{{subData.username}}"> {{ subData.username}} </a>&nbsp;{{subData.coin}}  SUP
                                <span class="time">{{subData.timeago}}</span>
                            </div>
                        </div>
                  
                    </div>
                </div>
            </div>
            <mat-paginator [length]="resultsLength"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
        <div *ngIf="!timeLineData">
            <div class="mat-title">
                No data loaded.
            </div>
        </div>
    </div>

</div>