<div class="content-holder">
    <div class="close" (click)="onNoClick()"><mat-icon>close</mat-icon></div>
    <div class="mb-12">
        <span class="mr-4">Level:</span>
        <span>2nd </span>
    </div>
    <div class="mat-subheading-2 mb-12"> Referral Name:
      <!-- <a [routerLink]="[ '/others/profile', data.username ]" (click)="onNoClick()"><b>{{ data.name }}</b></a> -->
      <a> Dimple</a>
    </div>
    <span class="display">
      Membership Type:
      <img class="avatar" src="assets/svg/badges/badge-silver.svg" alt="badge">
      </span>
    <div class="mb-12">
        <span class="mr-4">Purchased Date:</span>
        <span>October </span>
    </div>
    <div class="reward mb-12">
      <span>Earnings: &nbsp; </span>
      <span class="display-flex">
        <b> $ 3000</b>
      </span>
    </div>
    <div class="status">
        <span class="mr-8">Status:</span>
        <!-- <span class="{{data.status}}">{{data.status}}</span> -->
        <span class="complete">Paid</span>
      </div>
  
    
  </div>
      