.content-holder {
    position: relative;
    max-width: 550px;
    .close {
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 0;
    }
    .address, .pid {
        span {
            word-break: break-all;
            display: block;
            &:last-child {
                padding: 10px;
                border: 1px solid #C0C0C0;
                margin: 10px 0;
            }
        }
    }
    .terms {
        .mat-title {
            color: #f44336;
        }
        span {
            color: #f44336;
        }
    }
    .btn-holder {
        display: flex;
        .mat-warn {
            margin-left: auto;
            margin-right: 15px; 
        }
    }

}