<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <a [routerLink]="[ '/' ]">
                <img src="assets/svg/kryptonia-white.svg">
            </a>
        </div>
        <div class="text-holder">
            <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
               <h1>Where Jobs, Skills & <br>
                Internet Marketers Connect
              </h1>
            </div>
            <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
                    <p>80% of our Customers are Internet Marketers that spend less than ONE DOLLAR per task!</p>
                    <p>Kryptonia will help your business triple its sales solely from online traffic and it provides you with the opportunity to grow relationships with your target audience.</p>
            </div>
        </div>

        <div class="image-holder">
            <div class="cloud"></div>
            <div class="plane"></div>
            <div class="car"></div>
            <img src="/assets/images/login/everything-else.svg?" title="Kryptonia Globe">
        </div>
    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">
            <mat-progress-bar mode="indeterminate" *ngIf="isLogin"></mat-progress-bar>
            <div class="logo" fxHide.gt-sm>
                    <img src="/assets/svg/k.svg" alt="logo">
            </div>

            <div class="title">LOGIN TO YOUR ACCOUNT</div>

            <form name="loginForm" (ngSubmit)="loginAccount(loginForm);" [formGroup]="loginForm" novalidate>

                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password">
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Remember Me
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/auth/forgot-password'">
                        Forgot Password?
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                        [disabled]="loginForm.invalid">
                    LOGIN
                </button>

            </form>

            <div class="separator">
                <span class="text">OR</span>
            </div>

            <div fxLayout="column" fxLayoutAlign="start center">

                <button mat-raised-button class="facebook" (click)="facebookLogin()">
                    Log in with Facebook
                </button>
                
            </div>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/auth/register'">Create an account</a>
            </div>
        </div>
    </div>
</div>