@import "src/@fuse/scss/fuse";
app-bank-ledger {

    fuse-widget.widget {
        width: 100% !important;
        max-width: 100% !important;
    }
    div#dashboard-project {
        display: block !important;
        width: 100%;
        .content-tabs {
            flex: 1;
            mat-tab-group {
                height: 100%;
                width: 100% !important;
                .mat-tab-body-wrapper {
                    flex-grow: 1;
                }
            }

            .mat-tab-label-container {
                padding: 0 24px;
            }
        }
    }
    mat-tab-group {
        width: 100% !important;
        .mat-tab-body-wrapper {
            flex-grow: 1;
        }

    }
    .mat-tab-body-content{
        height: auto;
        min-height: auto;
        overflow: auto;
    }
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    .bank-data{
        width: 100%;
    }
    .mat-table {
        width: 100%;
        height: auto;
        .mat-column-avatar {
            flex: 0 1 51px;
            margin-left: 26px;
        }
        .mat-column-category {
            flex: 0 2 104px;
            justify-content: center;
        }
        .mat-column-title {
            flex: 2 0 100px;
            .list-unique {
                list-style: none;
                padding: 0;
            }
        }
        .mat-column-reward {
            .reward-label {
                font-size: 22px;
            }
        }
        .mat-column-buttons {
            flex: 0 1 80px;
        }
        .mat-sort-header-button,
        .mat-header-cell {
            font-weight: bolder;
            font-size: 16px;
            color: rgb(70, 70, 70);
        }
        .mat-row {
            position: relative;
            cursor: pointer;
            padding: 0;
            .mat-cell {
                min-width: 0;
                margin-top: -10px;
                &.mat-column-detail-button {
                    flex: 0 1 auto;
                    padding: 0 24px 0 0;
                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
    .firstToUpper::first-letter {
        text-transform: uppercase;
    }
    .requirement-status {
        display: inline-block;
    }
    .message-empty {
        flex: 1 1 1e-09px;
        box-sizing: border-box;
        flex-direction: column;
        display: flex;
        place-content: center;
        align-items: center;
    }
}
#dashboard-project .copy-section mat-card.mat-card {
    width: 100%;
}