<!-- <div class="p-16">
    <div class="h1 kryptonia"><b><u>KRYPTONIA</u></b></div>
</div>

<div class="custom-content p-16 pt-0 line-height-1.25">
    generate <br>
    <span>1,456,871</span> a month through <br>
    <small><b>A VIP Membership</b></small>
</div>
Do you want more traffic, leads, and sales?
Let us grow your business and get full access to your account through our discounted membership plans.

<div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="center">
    <button (click)="yes()" mat-flat-button class="green-bg">YES I want Massive Promotion</button>
    <button (click)="no()" mat-button>NO, thanks</button>
</div> -->
<div class="container">
    <div class="content">
        <div class="close" (click)="no()">
            <mat-icon>close</mat-icon>
        </div>
        <div class="top-title">
            Kryptonia
        </div>
        <div class="subtext">
            Do you want more <b>traffic</b>, <b>leads</b>, and <b>sales</b>?
        </div>
        <div class="text">
            Let us grow your business and get full access to your account through our discounted membership plans.
        </div>
        <div class="btn-holder">
            <button class="yes" (click)="yes()">
                YES!, give it to me.

            </button>
            <a class="no" (click)="no()">
                NO, I don't want massive promotion.
            </a>
        </div>
    </div>
</div>