<div class="example-container">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        Please try to reload!
      </div>
    </div>
  
    <div class="example-table-container">

        <mat-table class="example-table" #table 
                                    [dataSource]="data" matSort 
                                    matSortActive="created"
                                    matSortDisableClear matSortDirection="asc"
                                    [@animateStagger]="{value:'50'}"
                                    fusePerfectScrollbar>

        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{ row.amount }}
            </mat-cell>
            
        </ng-container>

        <ng-container matColumnDef="fee" >
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fee</mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{ row.fee }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tx_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Transaction ID</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <b class="small-name text-boxed">
                    {{ row.tx_id  }}
                </b>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="txn_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header >TX Date</mat-header-cell>
            <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>
                {{ row.txn_date | date  }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Description</mat-header-cell>
            <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>
                {{ row.description  }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Status</mat-header-cell>
            <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>
                {{ row.status  }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Status</mat-header-cell>
                <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>
                        option
                </mat-cell>
            </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="contact" 
            matRipple [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>

  
    </div>
  
    <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
  </div>